.articles-slider {
    display: flex;


    .articles-slider__slide-inner {
        background-color: $unicorn-slider-bg;
        color: $unicorn-white;
        padding: 60px 40px 50px;
        height: 100%;

        &.articles-slider__slide-inner--first {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                width: 75px;
                height: 7px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $unicorn-red;
            }
        }
    }

    .articles-slider__slide-author {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    .articles-slider__slide-image {
        >img {
            border-radius: 50%;
        }
    }

    .articles-slider__slide-text {
        margin-left: 15px;

        >p {
            margin: 0;
        }
    }

    .articles-slider__slide-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: left;
    }
}

.articles {
    .articles-title {
        @media (min-width:416px) and (max-width: 769px) {
            padding: 50px;
        }

        >h3 {
            margin-bottom: 45px;
        }
    }
}

.articles-slider__slide-content {
    .topic {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 200;
    }

    >p {
        font-size: 24px;
    }
}

.articles-slider__slide-text {
    >p {
        font-size: 14px;
        text-transform: uppercase;
    }
}

.articles-slider-controls {
    .articles-slider-controls__next {
        display: flex;
        font-size: 30px;
        background-position: center;
        position: absolute;
        left: 97%;
        top: 50%;
        background-size: contain;
        cursor: pointer;

        @media (max-width: 415px) {
            left: 90%;
        }
    }
}

.articles-container {
    padding: 0 160px;

    @media (max-width: 415px) {
        padding: 0 45px;
    }

    @media (min-width:416px) and (max-width: 769px) {
        padding: 0 50px;
    }
}