.clients {
    background-color: $unicorn-lgray;
    padding: 65px 265px 105px;

    @media (max-width: 415px) {
        padding: 50px;
    }

    @media (min-width: 416px) and (max-width:769px) {
        padding: 75px;
    }

    h3 {
        font-weight: 600;
    }

    .clients-container {
        padding-top: 65px;

        @media (max-width: 415px) {
            padding-top: 50px;
        }

        @media (min-width: 416px) and (max-width:769px) {
            padding-top: 50px;
        }
    }
}

.clients-title {
    display: flex;
    justify-content: center;
}

.clients-sliders {
    display: flex;
}

.clients-slider-controls {

    .clients-slider-controls__next {
        font-size: 30px;
        background-position: center;
        position: absolute;
        left: 100%;
        top: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}