.clients {
    background-color: $unicorn-lgray;
    padding-top: 65px;
    padding-bottom: 105px;

    h3 {
        margin-left: 50%;
    }

    .container {
        padding-top: 65px;
        padding-left: 140px;
        padding-right: 120px;
    }
}

.clients-sliders {
    display: flex;
}

.clients-slider-controls {

    .clients-slider-controls__next {
        margin-left: -110px;
        font-size: 30px;
        background-position: center;
        position: absolute;
        left: 100%;
        top: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}