.slider-controls {


    .slider-controls__next {
        display: flex;
        font-size: 30px;
        width: 31px;
        height: 31px;
        background-position: center;
        position: absolute;
        left: 100%;
        top: 50%;
        background-size: contain;
        cursor: pointer;
    }
}