.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 75px;

    @media (max-width: 415px) {
        padding: 45px 0;
    }

    @media (min-width:416px) and (max-width: 769px) {
        padding: 50px 0;
    }

    .portfolio__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 365px 45px;
        position: relative;

        @media (max-width: 415px) {
            padding: 0 15px 30px;
        }

        @media (min-width:416px) and (max-width: 769px) {
            padding: 0 50px 30px;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 75px;
            height: 7px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $unicorn-red;
        }

        >h2 {
            font-weight: 600;
            margin-bottom: 45px;
        }
    }
}

.portfolio__menu {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 30%;

    @media (max-width: 415px) {
        justify-content: center;
        gap: 15px;
    }

    @media (min-width:416px) and (max-width: 769px) {
        justify-content: center;
        gap: 25px;
    }

    >a {
        color: $unicorn-black;
        text-decoration: none;

        &:hover {
            opacity: 0.25;
        }
    }
}

.portfolio__menu {
    padding-bottom: 45px;

    button {
        background-color: transparent;
        color: $unicorn-black;
        border: none;

        &:hover {
            color: $unicorn-dgray;
        }
    }
}

.portfolio-slide {
    img {
        max-width: 100%;
        display: block;
    }
}

.tns-nav {
    button {
        margin-top: 60px;
        height: 15px;
        width: 15px;
        border: none;
        margin-left: 10px;
        background-color: $unicorn-lgray;
        border-radius: 50%;
    }

    .tns-nav-active {
        background-color: $unicorn-red;
    }
}