header {
    background-image: url("../images/bgheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .navbar-brand {
        font-weight: 600;
        text-transform: uppercase;
        color: $unicorn-black;

        &:hover {
            color: $unicorn-dgray;
        }
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        color: $unicorn-black;

        &:hover {
            color: $unicorn-dgray;

        }
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.dropdown {

    @media (max-width:769px) {
        display: none;
    }
}

.dropdown-menu {
    background-color: transparent;
    border: none;

    .dropdown-item {
        font-weight: 600;
        text-transform: uppercase;
        color: $unicorn-black;

        &:hover {
            color: $unicorn-dgray;
            background-color: transparent;
        }

    }
}