.introduction {
    background-color: $unicorn-white;

    .introduction__intro {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 100px 265px 115px;

        @media (max-width: 415px) {
            padding: 40px 15px;
        }

        @media (max-width: 769px) {
            padding: 50px;
        }

        img {
            display: block;
            margin-bottom: 15px;
        }
    }

    h2 {
        font-weight: 700;
        margin-bottom: 4.415rem;
    }
}

.service {
    h3 {
        font-weight: 700;
    }

    background-color: $unicorn-lgray;

    .service-inner {
        gap: 120px;
        padding: 80px 210px 110px;
        display: flex;
        align-items: center;

        @media (max-width: 415px) {
            padding: 40px 15px;
            flex-wrap: wrap;
            gap: 30px;
        }

        @media (min-width:416px) and (max-width: 769px) {
            padding: 50px;
            gap: 80px;
        }

        h3 {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 35px;
        }

        img {
            display: block;
            margin-bottom: 25px;
        }
    }

    .service-inner__time {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;

        @media (max-width: 415px) {
            text-align: center;
            align-items: center;
        }
    }

    .service-inner__vector {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;

        @media (max-width: 415px) {
            text-align: center;
            align-items: center;
        }
    }

    .service-inner__tractor {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;

        @media (max-width: 415px) {
            text-align: center;
            align-items: center;
        }
    }

}

.articles {
    background-color: $unicorn-white;
    padding-bottom: 100px;

    h3 {
        font-weight: 700;
    }

    .articles-title {
        padding: 100px 365px;

        @media (max-width: 415px) {
            padding: 40px 15px;
        }
    }

    .container-item {
        margin: 0 1rem 8.75rem;
        background-color: $unicorn-black;
        color: $unicorn-white;
        height: 23.125rem;
        width: 23.125rem;

        .quotes {
            margin-top: 64px;
        }


        .topic {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}