.quotes {
    background-color: $unicorn-black;
    color: $unicorn-white;
    padding: 80px 330px 65px;

    @media (max-width: 415px) {
        padding: 40px 15px;
    }

    @media (min-width:416px) and (max-width: 769px) {
        padding: 50px;
    }
}

.quotes-inner {
    >img {
        margin-bottom: 65px;
    }

    p {
        font-size: 24px;
        font-weight: 300;
    }

    p:last-child {
        margin-top: 40px;
    }
}

.team-members {
    padding: 105px 365px 130px;

    @media (max-width: 415px) {
        padding: 40px 15px;
    }

    @media (min-width:416px) and (max-width: 769px) {
        padding: 50px;
    }
}

.team-members__title {
    h2 {
        font-weight: 600;
        padding-bottom: 55px;
    }
}

.team-members__inner {
    display: flex;
    justify-content: center;
    gap: 170px;
    padding-top: 100px;

    @media (max-width: 415px) {
        flex-wrap: wrap;
        gap: 30px;
    }

    @media (min-width: 416px) and (max-width:769px) {
        gap: 50px;
    }
}

.team-members__inner--member {
    display: flex;
    flex-direction: column;
}

.team-members__inner--member--image {
    display: flex;
    flex-direction: column;
    align-items: center;

    >img {
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }
}

.team-members__inner--member--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    >h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        font-size: 15px;
        font-weight: 400;
    }
}