.tweets {
    padding: 75px 330px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 415px) {
        padding: 45px 15px;
    }

    @media (min-width:416px) and (max-width: 769px) {
        padding: 50px;
    }
}

.tweets-inner {
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 24px;
    }

    p:last-child {
        font-size: 16px;
        font-weight: 600;
    }

    img {
        border-radius: 50%;
        margin-bottom: 35px;
    }

    i {
        font-size: 35px;
        margin-bottom: 50px;
    }
}